version: '3.8'

services:
  app:
    build:
      context: ./app
    restart: always

  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    depends_on:
      - app
    restart: always

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
